:root {
    --background-color: #F5F5DC; /* Light Beige */
    --text-color: #333333; /* Dark Gray */
    --primary-color: #000000; /* Black */
    --secondary-color: #d4a817; /* Gold */
}

.dark-mode {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #ffffff;
    --secondary-color: #d4a817;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 30px;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    align-items: center;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    color: var(--secondary-color);
    text-align: center;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid var(--text-color);
    flex-wrap: nowrap; /* Ensure links do not wrap */
    
}

.topnav .icon {
    display: none;
    float: left;
}

.topnav a {
    color: var(--text-color);
    font-size: medium;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 10px; /* Adjust margin to fit within the container */
    object-position: top;
}

.topnav a:hover {
    background-color: var(--secondary-color);
}

.about-me {
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    line-height: 30px;
}

.experience {
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.portfolio {
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.home {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    margin-top: 20px;
}

.gallery-item img {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.contact a {
    color: var(--secondary-color);
    text-decoration: none;
}
.contact a:visited {
    color: var(--secondary-color);
}
.home .name {
    color: var(--secondary-color);
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: 700;
}

.toggle-btn {
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}

i {
    color: var(--primary-color);
}

.typing {
    font-size: 3vw;
    color: var(--secondary-color);
}

.home-img {
    position: relative;
    display: inline-block;
}

.home-img::before, .home-img::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 4px solid var(--secondary-color);
}

/* Top-left corner */
.home-img::before {
    top: -10px;
    left: -10px;
    border-right: none;
    border-bottom: none;
}

/* Bottom-right corner */
.home-img::after {
    bottom: -10px;
    right: -10px;
    border-left: none;
    border-top: none;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
    .topnav {
        flex-direction: column;
        align-items: flex-start;
    }

    .topnav a {
        font-size: small;
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    .home {
        flex-direction: column;
        align-items: center;
    }

    .home-img {
        width: 100%;
        text-align: center;
    }

    .home-img img {
        width: 100%;
        height: auto;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery-item img {
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .topnav {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .topnav a {
        flex-wrap: wrap;
        font-size: small;
        padding: 5px 10px;
        text-align: center;
        justify-content: center;
    
    }

    .home .name {
        font-size: 24px;
    }

    .typing {
        font-size: 4vw;
    }
    .referral-card {
        border: 1px solid #ddd;
        padding: 15px;
        text-align: center;
        width: 250px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      }
      
}
